<h1>Login</h1>

<%= form_with( model: @user , local: true, url: '/login') do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br>
<%= f.label :email %>
<%= f.text_field :email %> <br>
<%= f.label :password %>
<%= f.password_field :password %> <br>

<%= f.submit "Login", class: "border-button" %>
<% end %>

<%= link_to  "Log in with Facebook", '/auth/facebook' %>