<% comments.each do |c| %>
    <div class="comment-content">
        <p> <%= link_to  c.title , comment_path(c) %></p>
        <p>from: <%= c.user.name %>, on: <%= c.created_at.strftime("%m/%d/%Y") %> </p>
        <p> <%= c.content %> </p>
        <p>Rating: <%= c.rating %>/5 </p>
    </div>
<% end %>