<h1><%= @translation.title %></h1>
<h3>for: <%= link_to all_names(@translation.restaurant), restaurant_path(@translation.restaurant) %> by: Link to User Page</h3>
<p>Language: <%= @translation.language.name %> </p>

<p><%= @translation.notes %> </p>

<nav id="translation">
    <%= link_to  "Edit", edit_translation_path(@translation) %>
    <%= form_with model: @translation, local: true, method: "delete" do |f| %>
    <%= f.submit "Delete" %>
    <% end %>
<%= link_to  "Add Dish", new_translation_dish_path(@translation) %>
</nav>
<br>
<br>

<h4>Add A Dish</h4>
<%= render  "dishes/form" %>
<div class="dish_list">
<%= render  "dishes/index" %>
</div>