<h1><%= @translation.title %></h1>
<h3>for: <%= @translation.restaurant.chinese_name %></h3>

<p><%= @translation.notes %> </p>

<%= link_to  "Edit", edit_translation_path(@translation) %>
<br>
<br>
<%= form_with model: @translation, local: true, method: "delete" do |f| %>
<%= f.submit "Delete" %>
<% end %>

<%= link_to  "Add Dish", new_translation_dish_path(@translation) %>