
<div class="top-content">
    <div >
        <%= cl_image_tag @translation.menu.key, width: 450, sign_url: true if @translation.menu.attached? %>
    </div>

    <div class="description">
        <h1><%= @translation.title %></h1>
        <h3>for: <span lang="zh"> <%= @translation.restaurant.chinese_name%> </span> 
            <%= link_to non_chinese_names(@translation.restaurant), restaurant_path(@translation.restaurant) %> 
            by: <%= link_to  @translation.user.name, user_path(@translation.user) %>
        </h3>
        <p><%= @translation.notes %> </p>
    </div>
</div>


<% if user_has_permission?(@translation) %>
    <nav id="translation">
        <%= link_to  "Edit", edit_translation_path(@translation) %>
        <%= link_to  "Delete", translation_path(@translation), method: "delete" %>
        <%= link_to  "Add Dish", new_translation_dish_path(@translation) %>
    </nav>
    <br>
    <br>
<% end %>

<div class="dish_list">
    <%= render  partial: "dishes/index", locals: {dishes: @translation.dishes } %>
</div>

<h3>Comments:</h3>
<div class="comment-list">
    <%= render  partial: "comments/index", locals: {comments: @translation.comments } %>
</div>

<%= link_to "Make a Comment", new_translation_comment_path(@translation) %>