<h1><%= @translation.title %></h1>
<h3>for: <%= link_to all_names(@translation.restaurant), restaurant_path(@translation.restaurant) %> by: <%= link_to  @translation.user.name, user_path(@translation.user) %></h3>
<p>Language: <%= @translation.language.name %> </p>

<p><%= @translation.notes %> </p>

<nav id="translation">
    <%= link_to  "Edit", edit_translation_path(@translation) %>
    <%= link_to  "Delete", translation_path(@translation), method: "delete" %>
    <%= link_to  "Add Dish", new_translation_dish_path(@translation) %>
</nav>
<br>
<br>

<h4>Add A Dish</h4>
<div class="dish-form">
    <%= render  "dishes/form" %>
</div>
<div class="dish_list">
    <%= render  "dishes/index" %>
</div>

<h4>Comments:</h4>
<div class="comment-list">
    <%= render  "comments/index" %>
</div>

<%= link_to "Make a Comment", new_translation_comment_path(@translation) %>