<div class="orders-index">
<% @restaurant.orders.each do |order| %>
    <div class="order-item">
        <div class="order-info">
            <h4><%= order.user.name %></h4>
            <p><%= order.created_at.strftime("%m/%d/%Y") %></p>
        </div>
        <% order.dishes.first(3).each do |d| %>
            <div class="dish-preview">
                <h5 lang="zh"><%= d.chinese_name %></h5>
                <p><%= d.translated_name %></p>
            </div>
        <% end %>
        <%= link_to  "See all #{order.dishes.count} dishes" , order_path(order) %>
    </div>
<% end %>
</div>