<div class="orders-index">
<% @restaurant.orders.each do |order| %>
    <div class="order-item">
        <div class="order-info">
            <h4> <%= link_to  order.name, order_path(order) %> by <%= link_to order.user.name, user_path(order.user) %></h4>
            <p><%= order.created_at.strftime("%m/%d/%Y") %></p>
            <p> <%= order.dishes.count%> dishes for <%= order.people %> people</p>
            <p>Dietary Restrictions: <%=order.dietary_restrictions %> </p>
            <p>Flavor preferences: <%= order.flavor_preferences %> </p>
            <p>Description: <%= order.description %> </p>
        </div>
        <%= render  partial: "dishes/preview_index", locals: {dishes: order.dishes.first(3)} %>
        
        
    </div>
<% end %>
</div>