<h1><%= @order.name %> at <%= link_to  @order.restaurant.translated_name, restaurant_path(@order.restaurant) %> </h1>
<p>by: <%= link_to  @order.user.name, user_path(@order.user) %> Number of people: <%= @order.people %> --   
Dietary Restrictions: <%= @order.dietary_restrictions %> --
Flavor Preferences: <%= @order.flavor_preferences %> -- 
Description: <%= @order.description  %>
</p>
<ul>
<% @order.dishes.each do |d| %>
    <li><%= d.translated_name %></li>
<% end %>
</ul>

<%= link_to  "Edit", edit_order_path(@order) %>
<%= link_to  "Delete", order_path(@order), method: "delete", data: { confirm: 'Are you sure?' } %>
<%= link_to  "Add more dishes", restaurant_dishes_path(@order.restaurant) %>