
<h1><%= @order.name %> at <span lang="zh"><%= @order.restaurant.chinese_name %></span> <%= link_to  non_chinese_names(@order.restaurant), restaurant_path(@order.restaurant) %></h1>
<p>by: <%= link_to  @order.user.name, user_path(@order.user) %></p>
<p>Number of people: <%= @order.people %></p>
<p>Dietary Restrictions: <%= @order.dietary_restrictions %></p>
<p>Flavor Preferences: <%= @order.flavor_preferences %></p>
<p>Description: <%= @order.description  %></p>
<% if user_has_permission?(@order) %>
    <nav class="order">
    <%= link_to  "Edit", edit_order_path(@order) %>
    <%= link_to  "Delete", order_path(@order), method: "delete", data: { confirm: 'Are you sure?' } %>
    <%= link_to  "Add more dishes", restaurant_dishes_path(@order.restaurant) %>
    </nav>
<% end %>

<%= render  partial: "dishes/index", locals: {dishes: @order.dishes } %>




