<h1><%= @order.name %></h1>
<p>Number of people: <%= @order.people %> --   
Dietary Restrictions: <%= @order.dietary_restrictions %> --
Flavor Preferences: <%= @order.flavor_preferences %> -- 
Description: <%= @order.description  %>
</p>
<% @order.dishes.each do |d| %>
<%= d.translated_name %>
<% end %>

<%= link_to  "Edit", edit_order_path(@order) %>
<%= link_to  "Delete", order_path(@order), method: "delete", data: { confirm: 'Are you sure?' } %>