


<% dishes.each do |d| %>

    <div class="index-content">
        <div>
            <%= cl_image_tag d.image.key, width: 300 if d.image.attached? %>
        </div>
        <div class="description">
            <h3><span lang="zh"> <%= d.chinese_name %> </span><%= link_to non_chinese_names(d), dish_path(d) %></h3>
            <p><%= d.description %></p>
            <p>Ingredients: <%= d.ingredients %></p>
            <p><%= dish_info(d) %></p>

            <% if @new_order_with_dish_order %> 
                <%= form_with( model: [d, d.dish_orders.build] , local: true) do |f| %>
                    <%= f.collection_select(:order_id, current_user.orders, :id, :name)%>
                    <%= f.submit "Add to order" %>
                <% end %>

                <%= form_with( model: [@restaurant, @new_order_with_dish_order] , local: true) do |f| %>
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                    <%= f.fields_for :dish_orders do |dish_orders_form| %>
                        <%= dish_orders_form.hidden_field(:dish_id, value: d.id) %>
                        <%= dish_orders_form.hidden_field(:quantity, value: 1) %>
                    <% end %>
                    <%= f.submit "Add to new order" %>
                <% end %>
            <% end %>


        </div>
    </div>
<% end %>