<h3>Sort Dishes By:</h3>
<%= form_with(url: restaurant_dishes_path(@restaurant), method: "get", local: true) do %>
    <%= label_tag(:order_by_translation_rating, "Translation Rating") %>
    <%= radio_button_tag(:order_by, "translation_rating") %> <br>
    <%= label_tag(:order_by_spicy, "Spicy") %>
    <%= radio_button_tag(:order_by, "spicy") %> <br>
    <%= label_tag(:order_by_date_posted, "Date Posted") %>
    <%= radio_button_tag(:order_by, "created_at") %> <br>
    
    <%= submit_tag "Sort" %>
<% end %>