<h1><%= all_names(@dish) %></h1>
<%= cl_image_tag @dish.image.key, width: 450 if @dish.image.attached? %>
<h3>at: <%= link_to all_names(@dish.restaurant), restaurant_path(@dish.restaurant) %> on: <%= link_to  @dish.translation.title, translation_path(@dish.translation) %> 
by: <%= link_to  @dish.translation.user.name, user_path(@dish.translation.user) %> </h3>
<p>Description: <%= @dish.description %></p>
<p>Ingredients: <%= @dish.ingredients %></p>
<p>Spicy level(1-5): <%= @dish.spicy_level %></p>
<p>Price: <%= @dish.price %> yuan</p>
<p>Calories: <%= @dish.calories %></p>
<% if user_has_permission?(@dish.translation) %>
    <%= link_to  "Edit", edit_dish_path(@dish) %>
    <%= link_to  "Delete", dish_path(@dish), method: "delete" %>
<% end %>

