<div class="search">
<%= form_with(url: "/restaurants", method: "get", local: true) do %>
    <%= label_tag(:q_city, "Search by City") %>
    <%= text_field_tag(:q_city) %>
    <%= submit_tag "Search" %>
<% end %>

<%= form_with(url: "/restaurants", method: "get", local: true) do %>
    <%= label_tag(:q_name, "Search by Restaurant (translated) name") %>
    <%= text_field_tag(:q_name) %>
    <%= submit_tag "Search" %>
<% end %>

<%= form_with(url: "/restaurants", method: "get", local: true) do %>
    <%= label_tag(:q_cuisine, "Select Cuisine") %>
    <%= collection_select(:q_cuisine, :id, Cuisine.all, :id, :english_name) %>
    <%= submit_tag "Search" %>
<% end %>

<%= form_with(url: "/restaurants", method: "get", local: true) do %>
    <%= label_tag(:q_language, "Select Language") %>
    <%= collection_select(:q_language, :id, Language.all, :id, :name) %>
    <%= submit_tag "Search" %>
<% end %>
</div>