<div class="search">
<%= form_with(url: "/restaurants", method: "get", local: true, class: "one-line-form") do %>
    <%= text_field_tag(:q_city) %>
    <%= submit_tag "City", class: "border-button" %>
<% end %>

<%= form_with(url: "/restaurants", method: "get", local: true, class: "one-line-form") do %>
    <%= text_field_tag(:q_name) %>
    <%= submit_tag "Name", class: "border-button" %>
<% end %>

<%= form_with(url: "/restaurants", method: "get", local: true, class: "one-line-form") do %>
    
    <%= collection_select(:q_cuisine, :id, Cuisine.all, :id, :english_name) %>
    <%= submit_tag "Cuisine", class: "border-button" %>
<% end %>

<%= form_with(url: "/restaurants", method: "get", local: true, class: "one-line-form") do %>
    
    <%= collection_select(:q_language, :id, Language.all, :id, :name) %>
    <%= submit_tag "Language", class: "border-button" %>
<% end %>
</div>