



<audio id="player"></audio>
<div class="top-content">
    <div class="image-name">
        <%= cl_image_tag @restaurant.restaurant_image.key, width: 450, sign_url: true if @restaurant.restaurant_image.attached? %>
        
        <div class="name-overlay">
            <h1 lang="zh"><%= @restaurant.chinese_name %> </h1>
            <form id="input" method="GET" action="/read">
                <%= hidden_field_tag(:text, @restaurant.chinese_name) %>
                <input type="submit" value="Listen" id="submit" class="border-button" />
            </form>
            <h2 class="name"><%= non_chinese_names(@restaurant) %> </h2>
        </div>
    </div>

    <div class="description">
        <p>Address: <%= full_address(@restaurant) %> </p>

        <p>Cuisine: <%= restaurant_cuisines(@restaurant) %> </p>
        
        <p> Profile created by: 
            
                <%= link_to @restaurant.user.name, user_path(@restaurant.user) %>
            
            
        </p>
        <nav class="restaurant">
            <%= link_to  "Edit Restaurant Profile", edit_restaurant_path(@restaurant) if user_has_permission?(@restaurant) %>
            <%= link_to  "Delete", restaurant_path(@restaurant), method: "delete", data: { confirm: 'Are you sure?' } if user_has_permission?(@restaurant) %>
            <%= link_to  "Dishes", restaurant_dishes_path(@restaurant) %>
            <%= link_to  "Translations", restaurant_translations_path(@restaurant) %>
            <%= link_to  "Orders", restaurant_orders_path(@restaurant) %>
            <%= link_to  "Restaurant Profile", restaurant_path(@restaurant) %>
            <%= link_to  "Add Translation",  new_restaurant_translation_path(@restaurant) %>
            <%= link_to  "Add Order", new_restaurant_order_path(@restaurant) %>
        </nav>
    </div>
</div>
<script>
        // document.addEventListener("DOMContentLoaded", function () {
        //     var input = document.getElementById('input'),
        //         text = document.getElementById('text'),
        //         player = document.getElementById('player'),
        //         submit = document.getElementById('submit');
                
        //     input.addEventListener('submit', function (event) {
            
        //         player.src = '/read?text=' + encodeURIComponent(text.value);
        //         player.play();
            
        //         event.preventDefault();
        //     });
        // });
    </script>

