<%= render  "users/show" if @user %>

<h1>Choose a Restaurant</h1>

<%= form_with(url: "/restaurants", method: "get", local: true) do %>
    <%= label_tag(:q_city, "Search by City") %>
    <%= text_field_tag(:q_city) %>
    <%= submit_tag "Search" %>
<% end %>

<%= form_with(url: "/restaurants", method: "get", local: true) do %>
    <%= label_tag(:q_cuisine, "Select Cuisine") %>
    <%= collection_select(:q_cuisine, :id, Cuisine.all, :id, :english_name) %>
    <%= submit_tag "Search" %>
<% end %>

<%= form_with(url: "/restaurants", method: "get", local: true) do %>
    <%= label_tag(:q_language, "Select Language") %>
    <%= collection_select(:q_language, :id, Language.all, :id, :name) %>
    <%= submit_tag "Search" %>
<% end %>

<%= link_to  "Or add a restaurant", new_restaurant_path %>
<div class="restaurant-list">
    <% @restaurants.each do |r| %>
    <div class="restaurant-item">  
        <h2 lang="zh"> <%= r.chinese_name%> </h2>
        <%= link_to  non_chinese_names(r), restaurant_path(r) %> 
        <p><%= r.full_address %></p>
        <p>Number of menu translations: <%= r.translations.count %> </p>
    </div>
    <% end %>
</div>