
<%= render  "users/show" if @user %>

    


<div class="restaurant-list">

    <div class="restaurant-index-options">
        <h1>Choose a Restaurant</h1>
        <%= render  "search" if !@user %>
        <%= link_to  "Or add a restaurant", new_restaurant_path %>
    </div>
    
    <% @restaurants.each do |r| %>
    <div class="index-content">  
        <%= cl_image_tag r.restaurant_image.key, width: 300 if r.restaurant_image.attached? %>
        <div class="index-description">            
            <h2 lang="zh"> <%= r.chinese_name%> </h2>
            <button class="border-button">
            <%= link_to  non_chinese_names(r), restaurant_path(r) %> 
            </button>
            <br>
            <p><%= full_address(r) %></p>
            <p>Number of menu translations: <%= r.translations.count %> </p>
        </div>
    </div>
    <% end %>
</div>