
<h1>Create a new restaurant profile:</h1>

<%= form_with model: @restaurant, local: true do |f| %>

<% if @restaurant.errors.any? %>


  
    <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>

<% end %>


    <h3>Name:</h3>
    <div id="field">
    <%= f.label :name_chinese, "Chinese" %>
    <%= f.text_field :name_chinese %>
    </div> <br>
    <%= f.label :name_pinyin, "Pinyin"%>
    <%= f.text_field :name_pinyin %> <br>
    <%= f.label :name_english, "English" %>
    <%= f.text_field :name_english %> <br>
    <p>(Add checkboxes for cuisine)</p>
    <h3>Address:</h3>
    <%= f.label :country %>
    <%= f.text_field :country %> <br>
    <%= f.label :province %>
    <%= f.text_field :province %> <br>
    <%= f.label :city %>
    <%= f.text_field :city %> <br>
    <%= f.label :district %>
    <%= f.text_field :district %> <br>
    <%= f.label :street %>
    <%= f.text_field :street %> <br>
    
    <%= f.submit %>
<% end %>