<main>
<p id="notice"><%= notice %></p>

<h1><%= all_names(@restaurant) %> </h1>
<h1 lang="zh"><%= @restaurant.chinese_name %> </h1>
<p>Address: <%= @restaurant.full_address %> </p>

<h3>Cuisine:</h3>
<% @restaurant.cuisines.each do |c| %>
<p><%= c.english_name %></p>
<% end %>
<br>




<%= link_to  "Edit Restaurant Profile", edit_restaurant_path(@restaurant) %>
<%= link_to  "Delete", restaurant_path(@restaurant), method: "delete", data: { confirm: 'Are you sure?' } %>


<h3>Menu Translations: </h3>
<div class="translations-list">
    <% @restaurant.translations.each do |t| %>
        <div class="translation-item">
            <h4>User Name</h4>
            <p>date posted</p>
            <p>
            First dish: description.... 
            ingredients....
            </p>
            <p>Second dish: description... 
            ingredients.... 
            </p>
            <%= link_to  "See all #{t.dishes.count} dishes" , translation_path(t) %>
        </div>
    <% end %>
</div>
<%= link_to  "Add Translation",  new_restaurant_translation_path(@restaurant) %>
</main>