
<%= render  "show" %>

<h3>Menu Translations: </h3>
<div class="translations-list">
    <% @restaurant.translations.each do |t| %>
        <div class="translation-item">
            <div class="translation-info">
                <h4> <%= link_to t.title, translation_path(t) %> by <%= link_to t.user.name, user_path(t.user) %></h4>
                <p><%= t.created_at.strftime("%m/%d/%Y") %></p>
                <p> <%= t.notes %> </p>
            </div>
            <% t.dishes.first(3).each do |d| %>
                <div class="dish-preview">
                    <h4 lang="zh"><%= d.chinese_name %></h4>
                    <p><%= non_chinese_names(d) %></p>
                    <p> <%= d.description %> </p>
               </div>
            <% end %>
            
        </div>
    <% end %>
</div>

<h3>Orders: </h3>
<%= render  "orders/index" %>


