<p id="notice"><%= notice %></p>

<h1><%= @restaurant.chinese_name %> </h1>
<h3> <%= @restaurant.pinyin_name %> - <%= @restaurant.translated_name %> </h3>

<h3>Cuisine: </h3>

<h3>Address:</h3>
<ul>
<li><%= @restaurant.country %></li>
<li><%= @restaurant.province %></li>
<li><%= @restaurant.city %></li>
<li><%= @restaurant.district %></li>
<li><%= @restaurant.street %></li>
</ul>

<%= link_to  "Edit Restaurant Profile", edit_restaurant_path(@restaurant) %>
<%= form_with model: @restaurant, method: "delete"  do |f| %>
<%= f.submit "Delete"%>
<% end %>

<%= link_to  "Add Translation",  new_restaurant_translation_path(@restaurant) %>