
<h1><%= all_names(@restaurant) %> </h1>
<h1 lang="zh"><%= @restaurant.chinese_name %> </h1>
<p>Address: <%= @restaurant.full_address %> </p>

<h3>Cuisine:</h3>
<% @restaurant.cuisines.each do |c| %>
<p><%= c.english_name %></p>
<% end %>
<br>
<p> Profile created by: <%= @restaurant.user.name %></p>



<%= link_to  "Edit Restaurant Profile", edit_restaurant_path(@restaurant) %>
<%= link_to  "Delete", restaurant_path(@restaurant), method: "delete", data: { confirm: 'Are you sure?' } %>


<h3>Menu Translations: </h3>
<div class="translations-list">
    <% @restaurant.translations.each do |t| %>
        <div class="translation-item">
            <div class="translation-info">
                <h4><%= t.user.name %></h4>
                <p><%= t.created_at.strftime("%m/%d/%Y") %></p>
            </div>
            <% t.dishes.first(3).each do |d| %>
                <div class="dish-preview">
                    <h5 lang="zh"><%= d.chinese_name %></h5>
                    <p><%= d.translated_name %></p>
               </div>
            <% end %>
            <%= link_to  "See all #{t.dishes.count} dishes" , translation_path(t) %>
        </div>
    <% end %>
</div>
<%= link_to  "Add Translation",  new_restaurant_translation_path(@restaurant) %>
<h3>Orders: </h3>
<%= render  "orders/index" %>
<%= link_to  "Add Order", new_restaurant_order_path(@restaurant) %>

