<p id="notice"><%= notice %></p>

<h1><%= all_names(@restaurant) %> </h1>
<h1 lang="zh"><%= @restaurant.chinese_name %> </h1>
<p>Address: <%= @restaurant.full_address %> </p>

<h3>Cuisine:</h3>
<% @restaurant.cuisines.each do |c| %>
<p><%= c.english_name %></p>
<% end %>
<br>




<%= link_to  "Edit Restaurant Profile", edit_restaurant_path(@restaurant) %>
<%= link_to  "Delete", restaurant_path(@restaurant), method: "delete", data: { confirm: 'Are you sure?' } %>


<h3>Translations: </h3>
<ul>
<% @restaurant.translations.each do |t| %>
<li><%= link_to  "#{t.title} - #{t.notes} - number of dishes: " , translation_path(t) %> </li>
<% end %>
</ul>
<%= link_to  "Add Translation",  new_restaurant_translation_path(@restaurant) %>