<!DOCTYPE html>
<html>
  <head>
    <title>DianCai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <%= link_to  "View Restuarants", restaurants_path %>
  <p>Login</p>
  <p>Signup</p>
  </nav>
    <%= yield %>
  </body>
</html>
