<!DOCTYPE html>
<html>
  <head>
    <title>DianCai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <%= link_to  "View Restuarants", restaurants_path %>
  <% if session[:user_id] %>
    <%= link_to  "Logged in as: #{current_user.name}", user_path(current_user) %>
    <img src="<%= current_user.image %>" alt="User Avatar">
    <%= link_to  "Logout", sessions_path, method: "delete" %>
  <% else %>
    <%= link_to  "Login", login_path %>
    <%= link_to  "Signup", new_user_path  %>
  <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
