<!DOCTYPE html>
<html>
  <head>
    <title>Big Belly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">  
    </script>
  </head>

  <body>
    
    
    <main>

      <nav>
        <%= image_tag  "bb_logo_cropped.png", class: "logo" %>
        
        <div class="user-links">
          
            <%= link_to  "View Restuarants", restaurants_path %>
          

          <% if session[:user_id] %>
            <% if current_user.image%>
              <div id="avatar">
                <img src="<%= current_user.image %>" alt="User Avatar">
              </div>
            <% end %>
           
              
                <%= link_to  "Logged in as: #{current_user.name}", user_path(current_user) %>
              
            
            
              
                <%= link_to  "Logout", sessions_path, method: "delete" %>
              
            
          <% else %>
              
                
                  <%= link_to  "Login", login_path %>
                
                  <%= link_to  "Signup", new_user_path  %>
                
              
          <% end %>
        </div>
      </nav>

      <div class="alert"> <%= alert %> </div>
      <div id="notice"><%= notice %></div>
      <%= yield %>
    </main>
  </body>
</html>
