<!DOCTYPE html>
<html>
  <head>
    <title>DianCai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <%= image_tag  "test-logo.jpg", class: "logo" %>
    <%= link_to  "View Restuarants", restaurants_path %>
      <div class="user-links">
        <% if session[:user_id] %>
          <div id="avatar">
            <img src="<%= current_user.image %>" alt="User Avatar">
          </div>
          <div class="link1">
            <%= link_to  "Logged in as: #{current_user.name}", user_path(current_user) %>
          </div>
          <div class="link2">
            <%= link_to  "Logout", sessions_path, method: "delete" %>
          </div>
        <% else %>
            <div class="link1">
              <%= link_to  "Login", login_path %>
            </div>
            <div class="link2">
              <%= link_to  "Signup", new_user_path  %>
            </div>
        <% end %>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
